In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("IMDB Dataset.csv")
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

# Lowecasing

In [8]:
df['review'] = df['review'].str.lower()

In [9]:
df.review.head()

0    one of the other reviewers has mentioned that ...
1    a wonderful little production. <br /><br />the...
2    i thought this was a wonderful way to spend ti...
3    basically there's a family where a little boy ...
4    petter mattei's "love in the time of money" is...
Name: review, dtype: object

# remove HTML Tags

In [11]:
import re
def remove_html_tags(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'',text)

In [12]:
remove_html_tags('<h1>hello my name is ujas<h1>')

'hello my name is ujas'

In [13]:
df['review'] = df['review'].apply(remove_html_tags)

In [14]:
df.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. the filming tec...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

# Remove URL

In [34]:
def remove_url(text):
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'',text)

In [40]:
remove_url("my github is https://www.google.com")

'my github is '

# Remove Punctuations

In [41]:
import string,time
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [42]:
exclude = string.punctuation

In [43]:
def remove_punctuation(text):
    for char in exclude:
        text = text.replace(char,'')
    return text

In [70]:
text = "String! with. Punctuation?"

In [66]:
start  = time.time()
print(remove_punctuation(text))
time1 = time.time() - start
print(time1*50000)

String with Punctuation
48.041343688964844

In [68]:
def remove_punc(text):
    return text.translate(str.maketrans('','',exclude))

In [71]:
start = time.time()
print(remove_punc(text))
time2 = time.time() - start
print(time2*50000)

String with Punctuation
49.996376037597656

In [72]:
time1/time2

0.960896518836433

# Remove Punctuation from tweets

In [73]:
df2 = pd.read_csv("twitter.csv")

In [74]:
df2.sample(5)

          id  label                                              tweet
16431  16432      0  @user i'm not a gun advocate but i think its t...
3252    3253      0  questioned by the fbi x3 and still able to pur...
25008  25009      1  @user @user your iconic brand being associated...
26093  26094      0  @user pumped about the meeting. can't wait to ...
3010    3011      0  @user government acted earlyyyyyyyyyyyy. at la...

In [75]:
df2['tweet'] = df2['tweet'].apply(remove_punc)

In [81]:
df2.loc[25008]

id                                                   25009
label                                                    1
tweet    user user your iconic brand being associated w...
Name: 25008, dtype: object

# Chat word treatment ( replacing short forms(slangs) )

# Spelling Correction

In [84]:
from textblob import TextBlob

In [89]:
incorrect_txt = "ceertain conditonas duriing seveal ggenerations are moodified in the saame maner"

textBlb = TextBlob(incorrect_txt)

textBlb.correct().string

'certain conditions during several generations are modified in the same manner'

In [94]:
from nltk.corpus import stopwords

# Removing Emojis

In [99]:
import emoji
print(emoji.demojize('python is ðŸ”¥'))

python is :fire:

In [100]:
print(emoji.demojize('What a day ðŸŒˆ'))

What a day :rainbow:

# Tockenization

In [105]:
from nltk.tokenize import word_tokenize, sent_tokenize

In [106]:
sen1  = "I have a Ph.D in A.I"
sen2 = "We're here to help! mail us at nks@gmail.com"
sen3 = "A 5km ride cost $10.50"

In [110]:
# tockenize by spacy library

# stemming

In [111]:
from nltk.stem.porter import PorterStemmer

In [114]:
ps = PorterStemmer()
def stem_words(text):
    return " ".join([ps.stem(word) for word in text.split()])

In [115]:
sample = "walk walks walking walked"
stem_words(sample)

'walk walk walk walk'

# Lemitization

### same as stemming but in steming stem word may be not real word of english but in lemitization it is real word of english